/*@charset "utf-8";*/
/*!**/
/* * @ RESET CSS*/
/* * -------------------------------*/
/* *!*/
/*html, body, div, p, span, strong, b, em, iframe, pre,*/
/*h1, h2, h3, h4, h5, h6,*/
/*img, dl, dt, dd,*/
/*fieldset, form, legend, label,*/
/*table, caption, thead, tbody, tfoot, tr, th, td,*/
/*ul, ol, li, a, input, select, textarea {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0 none;*/
/*}*/

/*body {*/
/*    font-family: MalgunGothic, '맑은 고딕', '돋움', Dotum, AppleGothic, Sans-serif, Arial;*/
/*    font-size: 12px;*/
/*    line-height: 1;*/
/*    color: #333;*/
/*}*/

/*ul, ol, li {*/
/*    list-style: none;*/
/*}*/

/*em, address {*/
/*    font-style: normal;*/
/*}*/

/*img {*/
/*    border: 0 none;*/
/*    font-size: 0;*/
/*    line-height: 0;*/
/*}*/

/*sup {*/
/*    position: relative;*/
/*    top: 2px;*/
/*    font-size: 11px;*/
/*    line-height: 100%;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*caption {*/
/*    overflow: hidden;*/
/*    width: 0;*/
/*    height: 0;*/
/*    font-size: 0;*/
/*    line-height: 0;*/
/*}*/

/*th, td {*/
/*    vertical-align: middle; !* white-space: nowrap *!*/
/*}*/

/*a {*/
/*    color: #333;*/
/*    text-decoration: none;*/
/*    line-height: 1;*/
/*}*/

/*a:hover, a:focus, a:active {*/
/*    text-decoration: underline;*/
/*}*/

/*a:visited {*/
/*    color: #333;*/
/*}*/

/**, html {*/
/*    box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*}*/

/**, *:before, *:after {*/
/*    box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*}*/
.body {

}
.Top-BAR {
    margin-left: auto;
    margin-right: 10px;
}
.MainBox {
    background-color: rgba(255, 243, 254, 0);
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    height: 100%;


    max-width: none;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translateX(-50%) translateY(-50%);

}

.TODO-BOX {
    background-color: rgba(194, 255, 130, 0.42);
    flex: 1; /* flex: 1 1 0 */
    margin-left: auto;
}

menu-BOX {
    background-color: rgba(53, 166, 255, 0.42);
    border: black 5px;
    margin: 10px;
    display: inline-block;
}

.HOME-BOX {
    background-color: rgba(85, 225, 255, 0.42);
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
}

.BOARD-BOX {
    background-color: rgba(85, 225, 255, 0.84);
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
}

.List-BOX {
    background-color: rgba(130, 255, 219, 0.42);
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
    flex-direction: row;
}

.UserList {
    background-color: aliceblue;
    flex: 1; /* flex: 1 1 0 */
    display: flex;
}

.info-BOX {
    border: 10px;
    border-color: black;
    background-color: azure;
}